<div class="grid-item">
    <div id="coupon_<%= public_coupon.id %>" class="coupon card pass">
        <div class="coupon-site">
            <h5><%= public_coupon.site %></h5>
        </div>
        <div class="coupon-main">
            <% if public_coupon.claimer.length > 0 %>
                <h2 class= "center"><%= public_coupon.code %></h2>
                <p class="center small">Code</p>
            <% else %>
                <%= link_to "Claim This Coupon!", claim_public_coupon_path(public_coupon), class: "stretched-link claim-button" , method: :post %>
            <% end %>
        </div>
        <div class="coupon-info">
            <span class="small f-left"><strong>Expires: </strong> <%= public_coupon.expiry %></span>
            <span class="small f-right">
                <% if public_coupon.claimer.length > 0 %>
                    <strong>Claimed by: </strong> <%= public_coupon.claimer %>
                <% end %>
            </span>
        </div>
        <div class="coupon-note">
            <p><%= public_coupon.note %></p>
        </div>
        <p class="center small">Note</p>
    </div>
</div>