<% title 'Login' %>
<% if @show_title %>
    <br>
    <div id="title" class="row">
      <div class = "col">
        <h1><%= yield(:title) %></h1>
      </div>
    </div>
    <br>
<% end %>

<div class="group_squeze">
    <%= bootstrap_form_with(url: sessions_path, method: :post, local: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
        <%= f.email_field :email %>
        <%= f.password_field :password %>
        <%= f.primary "Login",  class: "btn btn-info"  %>
    <% end %>
</div>

OR <%= link_to "Signup with Github", "/auth/github" %>