<% title "Passes" %>

<% @passes.each do |p| %>
  <div id="pass_<%= p.id %>" class="pass">
    <p><strong>From: </strong> <%= p.from %></p>
    <p><strong>Code: </strong> <%= p.code %></p>
    <p><strong>Expiry: </strong> <%= p.expiry %></p>
    <p><strong>ID: </strong> <%= p.code_id %></p>
  </div>
<% end %>