<% title "Pass" %>
<% if @show_title %>
    <br>
    <div id="title" class="row">
      <div class = "col">
        <h1>Guest <%= yield(:title) %></h1>
      </div>
    </div>
    <br>
<% end %>

<%= render @pass %>

<!--<%= link_to "Edit", edit_pass_path(@pass) %>-->
<!--<%= link_to "Delete", @pass, method: :delete, data: {confirm: "Are you sure you want to delete this?" } %>-->
<%= link_to "Show All Passes", passes_path, class: "btn btn-info"  %>