
        <div class="grid-item">
            <div id="coupon_<%= coupon.id %>" class="coupon card pass">
                <div class="coupon-main">
                    <h2 class= "center"><%= link_to_unless_current coupon.code, pass_coupon_path(@pass,coupon), class: "stretched-link"  %></h2>
                    <p class="center small">Code</p>
                </div>
                <div class="coupon-info">
                    <span class="small f-left"><strong>Expires: </strong> <%= coupon.code_expiry %></span>
                    <span class="small f-right"><strong>Claimed by: </strong> <%= coupon.claimer %></span>
                </div>
                <div class="coupon-note">
                    <p><%= coupon.note %></p>
                </div>
                <p class="center small">Note</p>
            </div>
        </div>
