
        <div class="grid-item">
            <div id="coupon_<%= coupon.id %>" class="coupon card pass">
                <div class="makePublic">
                    <%= link_to publishButtonName(coupon.publicized), publish_pass_public_coupon_path(@pass,coupon), class: "pub #{publishButtonName(coupon.publicized)}" , method: :post %>
                </div>
                <div class="coupon-main">
                    <h2 class= "center"><%= link_to_unless_current coupon.code, pass_coupon_path(@pass,coupon)  %></h2>
                    <p class="center small">Code</p>
                </div>
                <div class="coupon-info">
                    <span class="small f-left"><strong>Expires: </strong> <%= coupon.code_expiry %></span>
                    <span class="small f-right">
                        <% if coupon.claimer.length > 0 %>
                            <strong>Claimed by: </strong> <%= coupon.claimer %>
                        <% end %>
                    </span>
                </div>
                <div class="coupon-note">
                    <p><%= coupon.note %></p>
                </div>
                <p class="center small">Note</p>
            </div>
        </div>
